.innerBody {
  width=90%;
}

.page {
  display: grid;
  grid-template-columns: 3% 94% 3%;
  padding: 5px;
}

.orange {
  display: grid;
  grid-template-columns: 20% 20%;
  background-color: orange;
}

.firstRow {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column: 2;
  margin-top: 20px;
  grid-template-rows: 200px;
  text-align: center;
}

.secondRow {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column: 2;
  margin-top: 20px;
  grid-template-rows: 200px;
  text-align: center;
}

#mainBar {
  grid-column: 1 / span 3;
}

#curse {
  grid-column: 2 / span 1;
  margin-top: 20px;
}

#watchkit {
  grid-row: 3;
  grid-column: 2;
}

#watchkit h1 {
  color: blue;
}

#swift {
  grid-row: 4;
  grid-column: 2;
  margin-top: 20px;
}

#swift h1 {
  color: blue;
  margin-top: 20px;
}
