#container {
  background-color: ##f1f2f6;
}

#menu {
  display: none;
}

#mobile-menu {
  list-style: none;
  display: flex;
  background-color: black;
  color: white;
}

#menu li {
  padding: 10px;
}

#desktop-holidays {
  display: none;
}

#desktop-iphonexs {
  display: none;
}

#desktop-iphonexr {
  display: none;
}

#desktop-watch {
  display: none;
}

#desktop-ipadpro {
  display: none;
}

#desktop-macbookair {
  display: none;
}

#desktop-music {
  display: none;
}

#desktop-airpods {
  display: none;
}

#desktop-giveback {
  display: none;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.fullScreen {
  width: 100%;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

  .dropdown {
  position: relative;
  display: inline-block;
}

  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}
