#container{
  display: flex;

  flex-wrap: wrap;
}

#menu {
  list-style: none;
  display: flex;
  background-color: black;
  color: white;
}

#menu li {
  padding: 10px;
}

#banner {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  padding: : 10px
}

.card {
  display: inline-block;
  flex-direction: column;
}

.card div {
  text-align: center;
  padding: 10px;
}

.card img {
  width: 300px;
  height: 300px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}
